{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}
<style>
body {
    background-image: url(https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80);
}
</style>


<section>
  <div class="container">
    <div class="background-img">
      <div class="box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
          <h2>Hello World</h2>
          <p><a style="color:#00ffe9;" target="_blank">
            Welcome to QR KING, a website where you can create your free QR code for any link that you wish.
            We believe that nobody should have to pay for a QR code or worry about a QR code expiring.
          </a></p>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}